<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redactor</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/styles/styles.css"/>
    <link rel="stylesheet" href="/styles/redactor.css">
    <link rel="stylesheet" href="/styles/codemirror.css">
    <link rel="stylesheet" href="/styles/theme.css">
    <link rel="stylesheet" href="/styles/taggd.css">
    <link rel="stylesheet" href="/styles/lazyYT.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="header cf">
    <div class="wrap cf">
        <a href="#" class="subject">Knowledge</a>

        <div class="btn btn-product">product</div>
        <form action="" class="search">
            <div class="search-wrap">
                <input class="search-submit" type="submit"/>
                <input class="search-text" type="text" placeholder="Search..." />
            </div>
        </form>
        <span class="btn btn-accept btn-edit" id="initRedactor"></span>
        <span class="btn btn-cancel">Cancel</span>
        <a href="#" class="user"><img src="http://placecreature.com/40/40" alt=""/></a>

    </div>
</div>

<div class="main wrap">
    <div class="left-side" id="navigation"></div>
    <div class="right-side">
        <div class="view" id="viewDoc">
            <div class="section-wrap" >
                <% for(var i=0; i<html.length; i++) {%>
                <div class="section" data-type="<%=html[i].param%>">
                    <div class="sub-section <%if(html[i].param!="text"){%><%= "noRedactor" %><%} %>">
                        <%if(html[i].param=="image"){%>
                            <img src="<%- html[i].code %>" class="image" />
                        <%}else if(html[i].param=="video"){%>
                            <div class="videoView" data-youtube-id='<%= html[i].code %>' data-ratio="16:9"></div>
                        <%}else if(html[i].param=="code"){%>
                            <textarea class="code" data-mode="<%= html[i].data.type %>" id="<%= html[i].data.id %>"><%- html[i].code %></textarea>
                            <ul class="language-list" data-id="<%= html[i].data.id %>">
                                <li class="language <% if(html[i].data.type.toLowerCase()=="htmlmixed"){%>active<%}%>" data-type="htmlmixed">HTML</li>
                                <li class="language <% if(html[i].data.type.toLowerCase()=="css"){%>active<%}%>" data-type="CSS">CSS</li>
                                <li class="language <% if(html[i].data.type.toLowerCase()=="sass"){%>active<%}%>" data-type="SASS">SASS</li>
                                <li class="language <% if(html[i].data.type.toLowerCase()=="javascript"){%>active<%}%>" data-type="JavaScript">JavaScript</li>
                                <li class="language <% if(html[i].data.type.toLowerCase()=="coffeescript"){%>active<%}%>" data-type="coffeescript">CoffeeScript</li>
                                <li class="language <% if(html[i].data.type.toLowerCase()=="php"){%>active<%}%>" data-type="PHP">PHP</li>
                                <li class="language <% if(html[i].data.type.toLowerCase()=="text/x-mysql"){%>active<%}%>" data-type="text/x-mysql">SQL</li>
                            </ul>
                        <%}else{ %>
                        <%- html[i].code %>
                        <%} %>
                    </div>
                    <%if(html[i].param!="text"){%><span class="btn btn-toggle remove"></span><%} %>
                </div>
                <%if(i==(html.length-1) && html[i].param!="text"){%>
                <div class="section" data-type="text">
                    <div class="sub-section">
                        <p></p>
                    </div>
                </div>
                <% } %>
                <% } %>
            </div>
            <div class="media-toolbar" id="media-toolbar">
                <span class="btn btn-toggle icon-plus"></span>
                <div class="menu-toolbar">
                    <span class="btn icon-image"></span>
                    <span class="btn icon-video"></span>
                    <span class="btn icon-code"></span>
                    <span class="btn icon-hr"></span>
                </div>
            </div>
            <div class="link" id="link-toolbar">
                <input class="link-val" type="text" value="" id="link_value" placeholder="Paste or type a link">
                <span class="close" id="link_close"></span>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <div class="wrap">
        <p class="footer-text">Last update by Alex</p>
        <p class="footer-text">lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet lorem ipsum sit amet</p>
    </div>
</div>

<div class="popup">
    <span class="close">&times;</span>
    <div class="popup-title">Products</div>
    <div class="product-list">
        <a href="javascript:void(0)" class="product-item">
            <span class="product-name">Product 1</span>
            <span class="product-data">31 July 2015</span>
        </a>
        <a href="javascript:void(0)" class="product-item">
            <span class="product-name">Product 1</span>
            <span class="product-data">31 July 2015</span>
        </a>
        <a href="javascript:void(0)" class="product-item">
            <span class="product-name">Product 1</span>
            <span class="product-data">31 July 2015</span>
        </a>
        <a href="javascript:void(0)" class="product-item">
            <span class="product-name">Product 1</span>
            <span class="product-data">31 July 2015</span>
        </a>
        <a href="javascript:void(0)" class="product-item">
            <span class="product-name">Product 1</span>
            <span class="product-data">31 July 2015</span>
        </a>
        <a href="javascript:void(0)" class="product-item">
            <span class="product-name">Product 1</span>
            <span class="product-data">31 July 2015</span>
        </a>
    </div>
</div>

<script data-main="js/main.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.20/require.min.js"></script>

</body>
</html>